.light-theme {
    background-color: white;
     
    * {
        color: black;
    }
}

.dark-theme {
    background-color: black;
     
    * {
        color: white;
    }
}

.done {
    text-decoration: line-through;
}

i {
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}