.light-theme {
  background-color: white;
}

.light-theme * {
  color: black;
}

.dark-theme {
  background-color: black;
}

.dark-theme * {
  color: white;
}

.done {
  text-decoration: line-through;
}

i {
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */