@import 'bootstrap';

#cities {
    .header {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 5px;

        p {
            margin: 0;
        }
    }
    .description {
        border: 1px solid black;
        display: none;

        .map {
            height: 100%;
        }
    }
}

body {
    background-color: lightblue;
}