<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
    <link rel="manifest" href="assets/manifest.json" />
    <title>Document</title>
    <style>
        .loading {
            background-color: white;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }
    </style>
</head>

<body>
    <div id="loading" class="loading">
        <img src="./assets/preloader.svg" alt="preloader">
    </div>

    <div id="app">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    WeatherApp
                </a>
            </div>
        </nav>

        <div class="container mt-4">
            <div v-show="errorText" class="alert alert-danger">
                <strong>Error!</strong>
                {{errorText}}
                <button v-on:click="onAlertClose" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form v-on:submit.prevent="onCityFormSubmit" class="input-group mb-3">
                        <input v-model="cityName" required type="text" class="form-control" placeholder="City name...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary">Add</button>
                        </div>
                    </form>

                    <div class="list-group">
                        <button v-for="item in cityList" v-on:click="onCityClick(item.name)"
                            class="list-group-item list-group-item-action">
                            <span class="city-name">{{item.name}}</span>
                            <span class="city-weather">
                                <span class="city-temp">{{item.main.temp.toFixed(0)}}℃</span>
                                <img v-bind:src="item.iconSrc" alt="">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6" v-if="currentWeather">
                    <div class="card">
                        <!-- <img src="./assets/palceholder.png" class="card-img-top" alt="city"> -->
                        <img v-bind:src="currentWeather.cityImg" v-on:error="onImgError(currentWeather.name)" class="card-img-top" alt="city">
                        <div class="card-body">
                            <h5 class="card-title">{{currentWeather.main.temp.toFixed(0)}}℃</h5>
                            <p class="card-text">{{currentWeather.weather[0].description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Min: {{currentWeather.main.temp_min.toFixed(0)}}℃</li>
                            <li class="list-group-item">Max: {{currentWeather.main.temp_max.toFixed(0)}}℃</li>
                            <li class="list-group-item">Pressure: {{currentWeather.main.pressure}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- <div v-if="currentWeather">
    <ul>
        <li v-for="(item, key) in currentWeather">{{key}} - {{item}}</li>
    </ul>
</div> -->