.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
}

#div {
    border: 2px solid black;
    padding: 20px;

    #p {
        border: 2px solid black;
        padding: 20px;

        #span {
            color: red;
        }
    }
}

.modal {
    position: absolute;
    width: 500px;
    top: 100px;
    border: 2px solid black;
    padding: 20px;
    left: calc(50vw - 250px);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    display: none;
    z-index: 2;
    background-color: white;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: (#000000), $alpha: 0.2);
    z-index: 1;
    display: none;
}