.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

#div {
  border: 2px solid black;
  padding: 20px;
}

#div #p {
  border: 2px solid black;
  padding: 20px;
}

#div #p #span {
  color: red;
}

.modal {
  position: absolute;
  width: 500px;
  top: 100px;
  border: 2px solid black;
  padding: 20px;
  left: calc(50vw - 250px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  display: none;
  z-index: 2;
  background-color: white;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}
/*# sourceMappingURL=style.css.map */