<div class="elem">
    <div class="header">
        <p>{{name}}</p><i class="fas fa-plus"></i>
    </div>
    <div class="description">
        <div class="row">
            <div class="col-md-6">
                <p>{{weather.0.description}}</p>
                <p>Max: {{main.temp_max}}</p>
                <p>Min: {{main.temp_min}}</p>
                <p>Humidity: {{main.humidity}}</p>
                <p>Pressure {{main.pressure}}</p>
            </div>
            <div class="col-md-6">
                <div class="map"></div>
            </div>
        </div>
    </div>
</div>