<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" href="../node_modules/photoswipe/dist/default-skin/default-skin.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="style.css">
    <script defer src="https://kit.fontawesome.com/858b50c6ed.js" crossorigin="anonymous"></script>
    <script defer src="../node_modules/jquery/dist/jquery.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="../node_modules/handlebars/dist/handlebars.js"></script>
    <script defer src="../node_modules/photoswipe/dist/photoswipe-ui-default.js"></script>
    <script defer src="../node_modules/photoswipe/dist/photoswipe.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqgrfGtKsoD3Pz7ENzcbnhbcGL1GQ8Q-k"></script>
    <script defer src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script defer src="script.js"></script>
</head>

<body>
    <div class="container">
        <div id="box"></div>

        <form class="mt-4" id="citySearch">
            <input type="text" id="cityName" placeholder="Search by city name...">
            <button type="submit">Search</button>
        </form>

        <div id="cities" class="mt-4">
            <!-- <div class="elem">
                <div class="header"><p>Baku</p><i class="fas fa-plus"></i></div>
                <div class="description">
                    <h1>TEST</h1>
                </div>
            </div>
            <div class="elem">
                <div class="header"><p>Kiev</p><i class="fas fa-plus"></i></div>
                <div class="description">
                    <h1>TEST</h1>
                </div>
            </div>
            <div class="elem">
                <div class="header"><p>Moscow</p><i class="fas fa-plus"></i></div>
                <div class="description">
                    <h1>TEST</h1>
                </div>
            </div> -->
        </div>

        <img width="100" height="100" src="../images/img1.jpg" alt="">
        <img width="100" height="100" src="../images/img2.jpg" alt="">
        <img width="100" height="100" src="../images/img3.jpg" alt="">
        <img width="100" height="100" src="../TEST/WEBCOMPONENTS/igor.jpg" alt="">
    </div>

    <template id="cityElem">
        <div class="elem">
            <div class="header">
                <p>{{name}}</p><i class="fas fa-plus"></i>
            </div>
            <div class="description">
                <div class="row">
                    <div class="col-md-6">
                        <p>{{weather.0.description}}</p>
                        <p>Max: {{main.temp_max}}</p>
                        <p>Min: {{main.temp_min}}</p>
                        <p>Humidity: {{main.humidity}}</p>
                        <p>Pressure {{main.pressure}}</p>
                    </div>
                    <div class="col-md-6">
                        <div class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <textarea id="mytextarea" cols="30" rows="10"></textarea>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
                 It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</body>

</html>