#cities .header {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#cities .header p {
  margin: 0;
}

#cities .description {
  border: 1px solid black;
  display: none;
}

#cities .description .map {
  height: 100%;
}

#box {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
}

.pswp__img {
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */