<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Contact list!</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="list-group" id="contactList">

                </div>
            </div>
            <div class="col-md-6">
                <form name="contactForm">
                    <div class="form-group">
                        <label for="fullname">Full name:</label>
                        <input required type="text" class="form-control" id="fullname" name="fullname"
                            placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number:</label>
                        <input required type="tel" class="form-control" id="phone" name="phone"
                            placeholder="Enter phone">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="favorite" id="favorite">
                        <label class="form-check-label" for="favorite">Favorite</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contactModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script id="contactTemplate" type="text/x-handlebars-template">
        <div class="list-group-item list-group-item-action" data-id="{{id}}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{name}}</h5>
                {{#if favorite}}
                    <small class="text-muted">⭐</small>
                {{/if}}
            </div>
            <p class="mb-1">{{phone}}</p>
        </div>
    </script>

    <script id="contactDetailsTemplate" type="text/x-handlebars-template">
        <h1>{{name}}</h1>
        <hr>
        <h2>{{phone}}</h2>
        <h2>{{email}}</h2>
    </script>

    <script src="../node_modules/handlebars/dist/handlebars.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./main.js" type="module"></script>
</body>

</html>