ul {
    // border: 1px solid black;
}

#contextMenu {
    position: absolute;
    display: none;
    width: 200px;
    box-shadow: 2px 2px 2px lightgray;
    background-color: white;
    ul  {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            padding: 5px;

            &:hover {
                background-color: aquamarine;
            }
        }
    }




}