#contextMenu {
  position: absolute;
  display: none;
  width: 200px;
  -webkit-box-shadow: 2px 2px 2px lightgray;
          box-shadow: 2px 2px 2px lightgray;
  background-color: white;
}

#contextMenu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

#contextMenu ul li {
  cursor: pointer;
  padding: 5px;
}

#contextMenu ul li:hover {
  background-color: aquamarine;
}
/*# sourceMappingURL=style.css.map */