<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="app.js"></script>
</head>
<body>
    <h1>Vue test</h1>
    <div id="todolist">
        <h2>To-do list</h2>
        <h4 v-if="tasks.length == 0">Task list is empty!</h4>
        <ul id="ul">
            <li v-for="(item, index) in tasks">
                {{index + 1}} - {{item}} 
                <button v-on:click="onDeleteClick(index)">❌</button>
            </li>
        </ul>
        <input type="text" v-model="newTask">
        <button v-on:click="onAddClick">Add</button>
    </div>

    <div id="app">
        <h2 v-bind:title="person.name">{{title.toUpperCase()}}</h2>
        <input type="text" v-model="title">
        <!-- v-show="showFullInfo" -->
        <div v-if="showFullInfo"> 
            <p>Name: {{person.name}}</p>
            <p>Age: {{person.age + 8}}</p>
            <p>Result: {{firstNum * secondNum}}</p>
        </div> 
        <button v-on:click="onButtonClick">Click me!</button>
    </div>

    <div id="calc">
        <h2>Vue calc!</h2>
        <input type="number" v-model.number="firstNum">
        <select v-model="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" v-model.number="secondNum">
        <span>= {{result}}</span>
        <br>
        <button v-on:click="onClearClick">Clear</button>
    </div>
</body>
</html>